.vscode/**
.vscode-test/**
node_modules/**
.gitignore
.yarnrc
**/*.map
**/*.ts
!out/**/*.js
tsconfig.json
tsconfig.extension.json
test-*.ftl
example.ftl
test-locales/**
debug*.ts
*.md
!README.md
.git
.DS_Store
bun.lockb
